<a href="https://colab.research.google.com/github/programres1/DataFrame/blob/main/001_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Different ways to create DataFrame

In [1]:
# Import pandas library
import pandas as pd
import numpy as np

**Method 1: From list of lists**

In [11]:
# list of lists
data = [['ram', 10], ['raju', 11], ['rajesh', 14]]
 
# pass column names as list in columns parameter 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
 
print(df)

df = pd.DataFrame(data)
df

     Name  Age
0     ram   10
1    raju   11
2  rajesh   14

        0   1
0     ram  10
1    raju  11
2  rajesh  14

**Method 2: From 2-D narray**

In [6]:
#np array
data = np.array([[2014,"toyota","corolla"], 
                 [2018,"honda","civic"], 
                 [2020,"hyndai","accent"], 
                 [2017,"nissan","sentra"]]) 


df = pd.DataFrame(data, columns = ['year', 'make','model'])
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

**Method 3: From dict of narray/lists**

In [10]:
data = {
    'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]
        }

#Dictionary Keys become Column names in the dataframe 
# pass index names as list in index parameter 
df = pd.DataFrame(data,index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 

print(df)


data = {
    'Name':np.array(['Tom', 'nick', 'krish', 'jack']),
        'Age':[20, 21, 19, 18]
        }
 

df = pd.DataFrame(data,index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 

df

        Name  Age
rank1    Tom   20
rank2   nick   21
rank3  krish   19
rank4   jack   18

**Method 4:Using from_dict method**

In [18]:
data = {'year': [2014, 2018,2020,2017], 
        'make': ["toyota", "honda","hyndai","nissan"],
        'model':["corolla", "civic","accent","sentra"]
       }

df = pd.DataFrame.from_dict(data)
print(df)

df = pd.DataFrame.from_dict(data,orient='index')
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

             0      1       2       3
year      2014   2018    2020    2017
make    toyota  honda  hyndai  nissan
model  corolla  civic  accent  sentra