<a href="https://colab.research.google.com/github/programres1/DataFrame/blob/main/001/Different_ways_to_create_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Different ways to create DataFrame

In [5]:
# Import pandas library
import pandas as pd
import numpy as np

**Method 1: From list of lists**

In [ ]:
# list of lists
data = [['ram', 10], ['raju', 11], ['rajesh', 14]]
 
# pass column names as list in columns parameter 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
 
print(df)

df = pd.DataFrame(data)
df

     Name  Age
0     ram   10
1    raju   11
2  rajesh   14

        0   1
0     ram  10
1    raju  11
2  rajesh  14

**Method 2: From 2-D narray**

In [ ]:
#np array
data = np.array([[2014,"toyota","corolla"], 
                 [2018,"honda","civic"], 
                 [2020,"hyndai","accent"], 
                 [2017,"nissan","sentra"]]) 


df = pd.DataFrame(data, columns = ['year', 'make','model'])
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

**Method 3: From dict of narray/lists**

In [ ]:
data = {
    'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]
        }

#Dictionary Keys become Column names in the dataframe 
# pass index names as list in index parameter 
df = pd.DataFrame(data,index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 

print(df)


data = {
    'Name':np.array(['Tom', 'nick', 'krish', 'jack']),
        'Age':[20, 21, 19, 18]
        }
 

df = pd.DataFrame(data,index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 

df

        Name  Age
rank1    Tom   20
rank2   nick   21
rank3  krish   19
rank4   jack   18

**Method 4:Using from_dict method**

Using from_dict, we have the ability to chose any column as an index of the dataframe(Difference from Method-3).orient='index' makes it possible.
It creates data frames as transpose, in creation phase itself.

In [ ]:
data = {'year': [2014, 2018,2020,2017], 
        'make': ["toyota", "honda","hyndai","nissan"],
        'model':["corolla", "civic","accent","sentra"]
       }

df = pd.DataFrame.from_dict(data)
print(df)

df = pd.DataFrame.from_dict(data,orient='index')
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

             0      1       2       3
year      2014   2018    2020    2017
make    toyota  honda  hyndai  nissan
model  corolla  civic  accent  sentra

**Method 5: From list of dicts**

In [ ]:
data = [{'a': 1, 'b': 2, 'c':3},
        {'a':10, 'b': 20, 'c': 30}]
 

df = pd.DataFrame(data)
 

df

    a   b   c
0   1   2   3
1  10  20  30

**Method 6: From list of tuples**

In [ ]:
# List1
Name = ['tom', 'krish', 'nick', 'juli']
   
# List2
Age = [25, 30, 26, 22]

#List 3

Rank=[1,2,3,4]

# merge list with zip() and then cast to list.
list_of_tuples = list(zip(Name, Age,Rank))

# Converting lists of tuples into pandas Dataframe.
df = pd.DataFrame(list_of_tuples,
                  columns = ['Name', 'Age','Rank'])
    

df

    Name  Age  Rank
0    tom   25     1
1  krish   30     2
2   nick   26     3
3   juli   22     4

**Method 7: From Dicts of pandas series**

In [ ]:
#List
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

#Create pandas series from list  
auth_series = pd.Series(author)
article_series = pd.Series(article)

#Create dict from pandas series  
frame = { 'Author': auth_series, 'Article': article_series }
  
df = pd.DataFrame(frame)

 
df


#How to add series externally in dataframe

age = [21, 21, 24, 23]
  
df['Age'] = pd.Series(age)


# Print data. 
df

     Author  Article  Age
0  Jitender      210   21
1   Purnima      211   21
2     Arpit      114   24
3     Jyoti      178   23

**Method 8 : From Blank dataframe**

In [ ]:
# Initialize a blank dataframe 
df = pd.DataFrame(columns = ['year','make','model'])
# Add records to dataframe using the .loc function
df.loc[0] = [2014,"toyota","corolla"] 
df.loc[1] = [2018,"honda","civic"] 
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic

**Method 9 : using read_csv method**

In [10]:
#Using file path or URL
df=pd.read_csv('https://raw.githubusercontent.com/programres1/DataFrame/main/001/titanic.csv')
#print(df)
# Using a csv like string
from io import StringIO
f = StringIO('year,make,model\n2014,toyota,corolla\n2018,honda,civic\n2020,hyndai,accent\n2017,nissan,sentra')
df = pd.read_csv(f)
df

   year    make    model
0  2014  toyota  corolla
1  2018   honda    civic
2  2020  hyndai   accent
3  2017  nissan   sentra

**Method 10 : using read_json method**

In [38]:
#Using file path or URL
#df = pd.read_json('https://jsonplaceholder.typicode.com/photos')
#df

df = pd.read_json('https://raw.githubusercontent.com/programres1/DataFrame/main/001/test.json',lines=True)
df
# Using a json like string
#from io import StringIO
#f = StringIO('{"year": "2014", "make": "toyota", "model": "corolla"}\n{"year": "2018", "make": "honda", "model": "civic"}\n{"year": "2020", "make": "hyndai", "model": "accent"}\n{"year": "2017", "make": "nissan", "model": "sentra"}')
#df = pd.read_json(f,lines=True)
#df


url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
print(df)

                             provider  \
AED  https://www.exchangerate-api.com
AFN  https://www.exchangerate-api.com
ALL  https://www.exchangerate-api.com
AMD  https://www.exchangerate-api.com
ANG  https://www.exchangerate-api.com
..                                ...
XPF  https://www.exchangerate-api.com
YER  https://www.exchangerate-api.com
ZAR  https://www.exchangerate-api.com
ZMW  https://www.exchangerate-api.com
ZWL  https://www.exchangerate-api.com

                          WARNING_UPGRADE_TO_V6  \
AED  https://www.exchangerate-api.com/docs/free
AFN  https://www.exchangerate-api.com/docs/free
ALL  https://www.exchangerate-api.com/docs/free
AMD  https://www.exchangerate-api.com/docs/free
ANG  https://www.exchangerate-api.com/docs/free
..                                          ...
XPF  https://www.exchangerate-api.com/docs/free
YER  https://www.exchangerate-api.com/docs/free
ZAR  https://www.exchangerate-api.com/docs/free
ZMW  https://www.exchangerate-api.com/docs/free
ZWL  https://www.exchangerate-api.com/docs/free

                                      terms base       date  \
AED  https://www.exchangerate-api.com/terms  USD 2022-03-04
AFN  https://www.exchangerate-api.com/terms  USD 2022-03-04
ALL  https://www.exchangerate-api.com/terms  USD 2022-03-04
AMD  https://www.exchangerate-api.com/terms  USD 2022-03-04
ANG  https://www.exchangerate-api.com/terms  USD 2022-03-04
..                                      ...  ...        ...
XPF  https://www.exchangerate-api.com/terms  USD 2022-03-04
YER  https://www.exchangerate-api.com/terms  USD 2022-03-04
ZAR  https://www.exchangerate-api.com/terms  USD 2022-03-04
ZMW  https://www.exchangerate-api.com/terms  USD 2022-03-04
ZWL  https://www.exchangerate-api.com/terms  USD 2022-03-04

     time_last_updated   rates
AED         1646352001    3.67
AFN         1646352001   91.24
ALL         1646352001  109.83
AMD         1646352001  493.99
ANG         1646352001    1.79
..                 ...     ...
XPF         1646352001  107.80
YER         1646352001  249.85
ZAR         1646352001   15.22
ZMW         1646352001   17.93
ZWL         1646352001  126.48

[161 rows x 7 columns]